@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common */
.container {
  @apply max-w-[1200px] px-4 mx-auto;
}

.header-dropdown-card {
  @apply invisible absolute opacity-0 group-hover:visible group-hover:opacity-100 transition-all bg-white rounded-md card-shadow;
}

.header-dropdown-item {
  @apply bg-light_gray py-[6px] px-2 text-center rounded-[20px] font-bold line-clamp-1 hover:bg-bold_gray transition;
}

.card-shadow {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05), -2px 2px 2px rgba(0, 0, 0, 0.06),
    2px 2px 2px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.08);
}

/* Home page */
.home-page-cover {
  @apply h-[550px] absolute w-[calc(100vw_-_(43%_+_40px)_-_(100vw_-_100%)_/_2)] z-0 mr-10 left-[initial] right-[43%] top-0;
  mask-position: bottom right;
  -webkit-mask-position: bottom right;
  mask-size: 110% 150%;
  -webkit-mask-size: 110% 150%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.home-page-cover:after {
  @apply bg-[linear-gradient(_0,rgba(0,0,0,0.168627451)_50%,rgba(0,0,0,0.3490196078)_85%_)];
  @apply content-[""] h-full absolute bottom-0 inset-x-0;
}

.bubble-mask {
  -webkit-mask-image: url("/assets/images/home-page/bubble-mask.svg");
  mask-image: url("/assets/images/home-page/bubble-mask.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/* Admin Common */
.admin-main-gradient {
  @apply bg-[linear-gradient(135deg,#c3224a_0%,#4a0d37_100%)];
}

.admin-page-container {
  @apply p-6;
}

.admin-card {
  @apply bg-white rounded-md text-admin_black_text my-[30px];
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.admin-card-body {
  @apply px-5 pt-4 pb-6;
}

/* Button */
.primary-btn {
  transition: background-image 0.5s ease-in;
  @apply relative py-3 px-4 rounded admin-main-gradient text-white font-bold;
}

.primary-btn:hover::before {
  opacity: 1;
}

.primary-btn span {
  @apply relative z-[3];
}

.primary-btn::before {
  background-image: linear-gradient(315deg, #c3224a, #4a0d37);
  @apply absolute content-[''] w-full h-full transition-opacity duration-500 ease-[ease-out] z-[2] opacity-0 left-0 top-0 rounded-[5px];
}

/* Form */
.form-title {
  @apply text-[25px] text-slate-700 font-bold text-center py-2;
}

.form-input-label {
  @apply text-sm text-slate-600 font-bold;
}

/* Login page */
.admin-login-background {
  background-image: url("/assets/images/admin/login-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(55, 65, 81, 0.6);
  @apply h-screen bg-blend-multiply;
}

/* Admin Sidebar */
.admin-sidebar-shadow {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.admin-item-shadow {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.admin-sidebar-item {
  @apply flex items-center text-sm font-extralight py-3 pl-4 hover:bg-[#c8c8c833] transition duration-[350] hover:text-white rounded text-[#ffffffcc];
}

.admin-sidebar-background {
  background-image: url("/assets/images/admin/sidebar-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 6px;
}

/* Admin table */
.admin-table thead {
  @apply bg-slate-50;
}

.admin-table th {
  @apply py-3 border-b;
}

.admin-table td {
  @apply py-3 pl-3;
}

.admin-table tr {
  @apply even:bg-slate-50 border-b;
}

/* Modal */
.react-responsive-modal-root .react-responsive-modal-overlay,
.react-responsive-modal-root .react-responsive-modal-container,
.react-responsive-modal-root .react-responsive-modal-modal {
  animation-fill-mode: initial !important;
}

.react-responsive-modal-modal {
  @apply rounded-sm;
}

.react-responsive-modal-closeButton {
  @apply fill-white;
}

.react-responsive-modal-modal {
  @apply !p-0 !m-0;
}

.customModal {
  @apply rounded-md w-1/2 py-0;
}

/* Text editor */
.tox-tinymce {
  @apply !border-[1px] !border-[#e5e7eb] !rounded-md !h-[600px];
}

.small-text-editor .tox-tinymce {
  @apply !h-[263px];
}

/* Content parsed from HTML */
figure.image {
  @apply my-4 w-full;
}

figure img {
  @apply !w-full object-cover;
}

figure.image figcaption {
  @apply text-[#5b7c98] text-sm text-center pt-[10px] p-3 px-[10px] bg-[#f8f7f7];
}
