@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common */
.admin-main-gradient {
  @apply bg-[linear-gradient(135deg,#c3224a_0%,#4a0d37_100%)];
}

.admin-page-container {
  @apply p-6;
}

.admin-card {
  @apply bg-white rounded-md text-admin_black_text my-[30px];
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.admin-card-body {
  @apply my-4 mx-5 pb-6 h-fit;
}

/* Button */
.primary-btn {
  transition: background-image 0.5s ease-in;
  @apply relative py-3 px-4 rounded admin-main-gradient text-white font-bold;
}

.primary-btn:hover::before {
  opacity: 1;
}

.primary-btn span {
  @apply relative z-[3];
}

.primary-btn::before {
  background-image: linear-gradient(315deg, #c3224a, #4a0d37);
  @apply absolute content-[''] w-full h-full transition-opacity duration-500 ease-[ease-out] z-[2] opacity-0 left-0 top-0 rounded-[5px];
}

/* Form */
.form-title {
  @apply text-[25px] text-slate-700 font-bold text-center py-2;
}

.form-input-label {
  @apply text-sm text-slate-600 font-bold;
}

/* Login page */
.admin-login-background {
  background-image: url("/assets/images/admin/login-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(55, 65, 81, 0.6);
  @apply h-screen bg-blend-multiply;
}

/* Admin Sidebar */
.admin-sidebar-shadow {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.admin-item-shadow {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.admin-sidebar-item {
  @apply flex items-center text-sm font-extralight py-3 pl-4 hover:bg-[#c8c8c833] transition duration-[350] hover:text-white rounded text-[#ffffffcc];
}

.admin-sidebar-background {
  background-image: url("/assets/images/admin/sidebar-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 6px;
}
