@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common */
.container {
  @apply max-w-7xl px-8 max-[1250px]:px-4 mx-auto max-[1250px]:w-full max-[1250px]:max-w-none;
}

.no-scrollbar::-webkit-scrollbar {
  @apply !hidden;
}

.header-dropdown-card {
  @apply invisible absolute opacity-0 group-hover:visible group-hover:opacity-100 transition-all bg-white rounded-md card-shadow z-10;
}

.header-dropdown-item {
  @apply bg-light_gray py-[6px] px-1 font-thin text-center rounded-[20px] line-clamp-1 hover:bg-bold_gray transition;
}

.card-shadow {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05), -2px 2px 2px rgba(0, 0, 0, 0.06),
    2px 2px 2px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.08);
}

.circle-radius {
  border-radius: 67% 59% 64% 52% / 50% 63% 61% 69%;
}

.footer-wave {
  background: url("/assets/images/footer/footer-wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  @apply relative w-full h-[300px];
}

.footer-image-wrapper {
  @apply w-[400px] aspect-square circle-radius relative -mt-[240px] max-[965px]:my-10 max-[965px]:w-[70%] max-[965px]:mx-auto max-[650px]:w-full;
}

.footer-image-wrapper::after {
  @apply circle-radius bg-[linear-gradient(_0,rgba(0,0,0,0.168627451)_50%,rgba(0,0,0,0.3490196078)_85%_)] content-[''] absolute inset-0 z-0;
}

.page-content {
  @apply w-[70%] max-[1000px]:w-full prose prose-img:w-full prose-h2:text-admin_primary prose-h2:font-extrabold prose-h3:font-extrabold text-justify;
}

/* Background for cover */
.home-page-cover {
  @apply h-[550px] absolute max-[1720px]:w-[calc(100vw_-_(43%_+_40px)_-_(100vw_-_100%)_/_2)] w-[800px] z-0 mr-10 left-[initial] right-[46%] top-0;
  mask-position: bottom right;
  -webkit-mask-position: bottom right;
  mask-size: 100% 150%;
  -webkit-mask-size: 100% 150%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  @media screen and (max-width: 1720px) {
    mask-size: 110% 150%;
    -webkit-mask-size: 110% 150%;
    right: 43%;
  }

  @media screen and (max-width: 1250px) {
    display: block;
    right: 0;
    margin-right: 0px !important;
    width: calc(100% + 30px);
    -webkit-mask-position: bottom center;
  }
}

.article-page-cover {
  @apply h-[550px] absolute w-[calc(100vw_-_(50%_+_40px)_-_(100vw_-_100%)_/_2)] z-0 mr-10 left-[52.9%] top-0;
  mask-position: bottom left;
  -webkit-mask-position: bottom left;
  mask-size: 110% 150%;
  -webkit-mask-size: 110% 150%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.page-cover {
  @apply h-[570px] max-[700px]:h-[500px] absolute max-[1500px]:w-[calc(100vw_-_(45%_+_40px)_-_(100vw_-_100%)_/_2)] w-[800px] z-0 ml-6 max-[1250px]:ml-0 left-[48%] top-0;
  mask-position: bottom left;
  -webkit-mask-position: bottom left;
  mask-size: 100% 115%;
  -webkit-mask-size: 100% 115%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  @media screen and (max-width: 1500px) {
    mask-size: 115% 120%;
    -webkit-mask-size: 115% 120%;
    left: 46%;
  }

  @media screen and (max-width: 1250px) {
    position: relative;
    width: 100%;
    mask-position: bottom center;
    -webkit-mask-position: bottom center;
    mask-size: 200% 250%;
    -webkit-mask-size: 200% 250%;
    left: 0;
  }
}

.home-page-cover:after,
.article-page-cover:after,
.page-cover:after {
  @apply bg-[linear-gradient(_0,rgba(0,0,0,0.168627451)_50%,rgba(0,0,0,0.3490196078)_85%_)] max-[1250px]:bg-[linear-gradient(_180deg,rgba(0,0,0,0.2509803922)_10%,rgba(0,0,0,0.5019607843)_65%_)];
  @apply content-[""] h-full absolute bottom-0 inset-x-0;
}

.bubble-mask {
  -webkit-mask-image: url("/assets/images/home-page/bubble-mask.svg");
  mask-image: url("/assets/images/home-page/bubble-mask.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.country-bubble-mask {
  -webkit-mask-image: url("/assets/images/country-page/bubble-mask.svg");
  mask-image: url("/assets/images/country-page/bubble-mask.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.home-page-cover-2 {
  background: url("/assets/images/home-page/blog-du-lich-home-cover-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 50%;

  @apply my-10 h-[483px] relative;

  @media screen and (max-width: 1000px) {
    background: url("/assets/images/home-page/blog-du-lich-home-cover-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
  }
}

.home-page-cover-2:after,
.home-page-cover-3:after {
  @apply bg-[linear-gradient(_0,rgba(0,0,0,0.168627451)_50%,rgba(0,0,0,0.3490196078)_85%_)];
  @apply content-[""] absolute inset-0 z-0;
}

.home-page-cover-3 {
  background: url("/assets/images/home-page/blog-du-lich-home-cover-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 50%;

  @apply my-10 h-[483px] relative;

  @media screen and (max-width: 1000px) {
    background: url("/assets/images/home-page/blog-du-lich-home-cover-5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
  }
}

.sub-page-heading {
  @apply text-center font-dancing font-bold text-admin_primary text-[60px] mb-3 max-[1130px]:text-[45px] max-[550px]:text-[38px];
}

.sub-page-sub-heading {
  @apply text-center text-xl font-semibold flex items-center gap-3 justify-center max-[450px]:text-base;
}

.sub-page-heading-type-2 {
  @apply font-dancing font-bold text-[70px] max-[700px]:text-[50px] text-admin_primary;
}

.sub-page-cover {
  background: url("/assets/images/interest-category-page/cover-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  @apply w-full h-[422px];
}

@media screen and (max-width: 1450px) {
  .sub-page-cover {
    background-position: 50% 0%;
  }
}

@media screen and (max-width: 1130px) {
  .sub-page-cover {
    background-size: 100% 150%;
  }
}

@media screen and (max-width: 662px) {
  .sub-page-cover {
    background-size: 250% 175%;
  }
}

/* Admin Common */
.admin-main-gradient {
  @apply bg-[linear-gradient(135deg,#c3224a_0%,#4a0d37_100%)];
}

.admin-page-container {
  @apply p-6;
}

.admin-card {
  @apply bg-white rounded-md text-admin_black_text my-[30px];
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.admin-card-body {
  @apply px-5 pt-4 pb-6;
}

/* Button */
.primary-btn {
  transition: background-image 0.5s ease-in;
  @apply relative py-3 px-4 rounded admin-main-gradient text-white font-bold;
}

.primary-btn:hover::before {
  opacity: 1;
}

.primary-btn span {
  @apply relative z-[3];
}

.primary-btn::before {
  background-image: linear-gradient(315deg, #c3224a, #4a0d37);
  @apply absolute content-[''] w-full h-full transition-opacity duration-500 ease-[ease-out] z-[2] opacity-0 left-0 top-0 rounded-[5px];
}

/* Form */
.form-title {
  @apply text-[25px] text-slate-700 font-bold text-center py-2;
}

.form-input-label {
  @apply text-sm text-slate-600 font-bold;
}

/* Login page */
.admin-login-background {
  background-image: url("/assets/images/admin/login-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(55, 65, 81, 0.6);
  @apply h-screen bg-blend-multiply;
}

/* Admin Sidebar */
.admin-sidebar-shadow {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.admin-item-shadow {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.admin-sidebar-item {
  @apply flex items-center text-sm font-extralight py-3 pl-4 hover:bg-[#c8c8c833] transition duration-[350] hover:text-white rounded text-[#ffffffcc];
}

.admin-sidebar-background {
  background-image: url("/assets/images/admin/sidebar-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 6px;
}

/* Admin table */
.admin-table thead {
  @apply bg-slate-50;
}

.admin-table th {
  @apply py-3 border-b;
}

.admin-table td {
  @apply py-3 pl-3;
}

.admin-table tr {
  @apply even:bg-slate-50 border-b;
}

/* Modal */
.react-responsive-modal-root .react-responsive-modal-overlay,
.react-responsive-modal-root .react-responsive-modal-container,
.react-responsive-modal-root .react-responsive-modal-modal {
  animation-fill-mode: initial !important;
}

.react-responsive-modal-modal {
  @apply rounded-sm;
}

.react-responsive-modal-closeButton {
  @apply fill-white;
}

.react-responsive-modal-modal {
  @apply !p-0 !m-0;
}

.headerModal {
  @apply rounded-md py-0 w-screen h-screen relative max-[790px]:!pt-14;
  max-width: unset !important;
}

.customModal {
  @apply rounded-md w-1/2 py-0;
}

/* Text editor */
.tox-tinymce {
  @apply !border-[1px] !border-[#e5e7eb] !rounded-md !h-[600px];
}

.small-text-editor .tox-tinymce {
  @apply !h-[263px];
}

/* Content parsed from HTML */
figure.image {
  @apply my-4 w-full;
}

figure img {
  @apply !w-full object-cover rounded-t-md;
}

figure.image figcaption {
  @apply text-[#5b7c98] !mt-0 text-sm text-center p-3 px-[10px] bg-[#e9e9e9] rounded-b-md;
}

/* Tab panel */
.tab-heading {
  @apply !font-arima font-bold !text-lg !normal-case;
}

/* Pagination */
/* Pagination */
/* Paginagation */
.common-shadow {
  box-shadow: 0 2px 4px #00000012;
}

/* Pagination */
/* Paginagation */
.pagination-wrapper {
  @apply w-fit pagination pt-12 max-[500px]:pt-8 mx-auto;
}

.pagination .page-link {
  @apply !font-arima !rounded-lg grid !text-[#333] font-bold text-sm !border-transparent !py-[10px] max-[500px]:!py-2 !px-4 shadow-md max-[500px]:!text-xs border;
}

.pagination .page-item.active .page-link {
  @apply bg-[#ad2849] border-[#c60000] !text-white !px-4;
}

.pagination .page-item.disabled .page-link {
  @apply !text-[#ccc];
}

/* Cards grid */
.cards-grid {
  @apply grid grid-cols-3 max-[900px]:grid-cols-2 max-[650px]:grid-cols-1 gap-6;
}

.destination-cards-grid {
  @apply grid grid-cols-4 gap-4 max-[950px]:grid-cols-3 max-[700px]:grid-cols-2 max-[500px]:grid-cols-1;
}
